* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 164px;
    height: 44px;
    background: #30B868;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
   
}
.btn:hover {
    background: orangered;
    color: black;
}
.btn1 {
    gap: 6px;
    border-radius: 12px;
    background: #fff;
    color: #30B868;
    width: 229px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    

}

.btn2 {
    width: 251px;
    height: 52px;
    background: #30B868;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none
}
.btn2 img{
    padding-bottom: 3px;
    margin: 5px;
    
} 
.btn3 {
    width: 251px;
    height: 52px;
    background: transparent;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-color: white;
}
.btn3 img{
    padding-bottom: 4.5px;
    margin: 5px;
    
    
}
.btn4 {
    width: 240px;
    height: 52px;
    background:#469165;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 0px 1px 20px  #11181893;
} 
.btn4:hover {
    background: orangered;
    color: black;}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: orangered;
}

.logo img{
    width: 139px;
    height: 60px;
}
header {
    margin-top: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

section.banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.banner-content img {
    width: 1600px;

    height: 674px;
    object-fit: cover;
}
.banner-overlay {
    position: absolute;
    width: 1360px;
    height: 379px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}
.banner-overlay h1 {
    font-weight: 700;
    margin: 51px 216px 51px 216px;
    line-height: 1.2;
    margin-bottom: 12px;
    
}
.green {
    color: #30B868;
}
.banner-overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    align-items: center;
    margin-bottom: 300px;
    padding-left: 20%;
    padding-right: 20%;
}

.banner-button .btn1:hover {
    background: orangered;
    color: black;
}

.banner-buttons {
    gap: 20px;
    width: 1360%;
    height: 130%;
    transform: translate(-50%, -50%);
    padding-left: 100%;
    display:flex;
    justify-content: center;
    
}
.banner-buttons .btn2:hover{
    color: black;
    background: orangered;
    
}
.banner-buttons .btn3:hover {
    color: black;
    background: transparent;
    
    
}


.next-banner {
   padding: 40px 20px;
   background: #fafafa;
   

   
   
}
.card{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.add-card {
    background-color: #ffffff;
    max-width: 300px;
    padding: 30px 20px;
    box-shadow: 0px 1px 6px 0px #f8f8f80f;
    border-radius: 8%;
    text-align: center;
    border: none;
}
.add-card img{
    background: orangered;
    padding: 10px;
    margin: 20px;
    width: 48px;
    border: 20%;
    border-radius: 50%;
    max-width: 50px;                
    margin-bottom: 50px;   
}
.add-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;

}
.add-card:hover{
    color: #001931;
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
} 
.text {
  text-align: center;
  height: 116px;
  margin: auto;
}
.text h2{
    font-size: 48px;
    color: #001931;
}
.text p {
    font-size: 16px;
    margin-top: 10px;
    
    color: #627382;
    
}
.all-knowledge1 img{
    width: 100%;
    max-width: 500px;
    width: 600px;
    height: 600px;
    object-fit: cover;
    vertical-align: center;
}

.all-knowledge {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: space-around;
    gap: 5rem;
    padding: 120px;
    background-color: #ffffff;
    
}



.Knowledge-text {
    flex: 1;
    
    
}

.Knowledge-text .green{
    font-size: 16px ;
    font-weight: 500;
    line-height: 20px;

}
.Knowledge-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    padding: 0px; 
    padding-bottom: 16px;
    padding-top: 20px;
}
.Knowledge-text h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 1px;        
}
.Knowledge-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
    color: #627382;
}
.icons{
    padding: 0px;
    margin: 0px;
    list-style: none;  
}
.icon a{
    margin-bottom: 16px ;
}
.icons a{
    
    display: inline-block;
    padding-left: 10px;
    font-size: 16px;
    line-height: 3.0;
    color: #001931;
    font-weight: 500;
    text-decoration: none;
      
}
.icons li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;   
  margin-right: 10px;      
}
.about{
    background-color: #F7F6F2;
    padding: 120px;
    margin: 120px;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;

}
.about-us p{
    color: #627382;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 16%;
    padding-right: 15%;
    
    
}
.about-us h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;

}
.about-us .p1{
    color: #627382;
    font-size: 16px;
    padding-top: 20px;

}
.footer{
    background-color: #001931;
    color: #ffffff;
    display: flex;
    flex-direction: column;

    

}
.footer-icon{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 120px;
    

    
}
.footer-logo img{
   width: 100%;
}



.footer-social {
    margin-left: auto;
    text-align: right;
}

.footer-social p{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.social-icons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    
}
.social-icons img{
    cursor: pointer;
    height: 20px;
    width: 20px;
    
}
.copy {
  border-top: 1px solid #E5E7EB;
  padding: 30px;
  padding-top: 20px;
  margin-top: 40px;   
  text-align: center;
  width: 50%;
  font-size: 14px;
  transform: translateX(50%);
  color: #FAFAFA;
}

 