* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 164px;
    height: 44px;
    background: #30B868;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
   
}
.btn:hover {
    background: orangered;
    color: black;
}
.btn1 {
    gap: 6px;
    border-radius: 12px;
    background: #fff;
    color: #30B868;
    width: 229px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    

}

.btn2 {
    width: 251px;
    height: 52px;
    background: #30B868;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none
}
.btn3 {
    width: 251px;
    height: 52px;
    background: transparent;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-color: white;
}


.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: orangered;
}

.logo img{
    width: 139px;
    height: 60px;
}
header{
    margin-top: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

section.banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.banner-content img {
    width: 1600px;

    height: 674px;
    object-fit: cover;
}
.banner-overlay {
    position: absolute;
    width: 1360px;
    height: 379px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}
.banner-overlay h1 {
    font-weight: 700;
    margin: 51px 216px 51px 216px;
    line-height: 1.2;
    margin-bottom: 12px;
    
}
.green {
    color: #30B868;
}
.banner-overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    align-items: center;
    margin-bottom: 300px;
    padding-left: 20%;
    padding-right: 20%;
}

.banner-button .btn1:hover {
    background: orangered;
    color: black;
}

.banner-buttons {
    gap: 20px;
    width: 1360%;
    height: 130%;
    transform: translate(-50%, -50%);
    padding-left: 100%;
    display:flex;
    justify-content: center;
    
}
.banner-buttons .btn2:hover{
    color: black;
    background: orangered;
    
}
.banner-buttons .btn3:hover {
    color: black;
    background: transparent;
    
    
}
.text h6{
    position: absolute;
    width: 1360px;
    height: 120px;
    margin: 20px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 16px;
    color: #627382;
    text-align: center
}