* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 164px;
    height: 44px;
    background: #30B868;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
   
}
.btn button:hover {
    background: orangered;
    border-color: orangered;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: orangered;
}

.logo img{
    width: 139px;
    height: 60px;
}
header{
    margin-top: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
section.banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.banner-content img {
    width: 1600px;
    height: 674px;
    object-fit: cover;
}
.banner-overlay {
    position: absolute;
    width: 1360px;
    height: 379px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}
.banner-overlay h1 {
    font-weight: 700;
    margin: 51px 216px 51px 216px;
    line-height: 1.2;
    margin-bottom: 12px;
    
}
.green {
    color: #30B868;
}
.banner-overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    align-items: center;
    margin-bottom: 300px;
    padding-left: 20%;
    padding-right: 20%;
}
.banner-button {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-top: 20px;
    
}